@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');
/* some common things to set up the environment */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

a{
    text-decoration: none;

}

/* styling the page */

body{
    background-color: #FFFCEC;
    height: 100vh;
}

nav{
    background-color: black;
    color: #FFFCEC;
    height: 171px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    font-size: 60px;
    font-weight: bold;
}

.parahgraph{
    position: sticky;
    width: 80%;
    margin: 30px auto;
    font-size: 40px;
    line-height: 50px;
}

.questions{
    width: 80%;
    margin: 30px auto;
}

.question > h3{
    font-size: 40px;
}

.question > h5{
    font-size: 35px;
    font-weight: lighter;
    margin-left: 20px;
}

input{
    width: 600px;
    height: 50px;
    margin-left: 25px;
    margin-top: 10px;
    font-size: 20px;
    border: none;
    border-bottom: 1px solid black;
    transition: transform linear 0.1s;
    padding: 10px;
}

input:hover{
    transform: scale(1.05);
    background-color: #f9e56f;
    font-weight: bold;
}

input:focus{
    outline: none;
    border: none;
    border-bottom: 1px solid black;
}

hr{
    width: 50%;
    margin: 50px auto;
}

.butt{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
}

button{
    background-color: black;
    color: white;
    border-radius: 20px;
    width: 300px;
    height: 40px;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
    position: sticky;
    text-align: center;

}

button:hover{
    color: wheat;
    right: 20px;
    cursor: pointer;
}